body {
    width: 100vw;
    height: 100vh;

   background: #fff;
}

.container-users {
    width: 47vw;
    height: auto;

    margin: 3em auto;

    padding: 1rem;

    border-radius: 1rem;
    border: 2px solid rgb(221 217 221);

    background: #ebebeb5d;
}

.users-title {
    margin-bottom: 1rem;
}

.users {
    width: 45rem;
    height: 12vh;

    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;    
    align-items: center;

    border-radius: 1rem;
    border: 1px solid #b1b1b1;

    background: #fff;
}

.users-profile {
    display: flex;
    width: 23rem;    
}

.photo {
    width: 4rem;

    margin-left: 1rem;
    margin-right: 1rem;

    border-radius: 50%;
}


.title {
    font-size: 1.4rem;
    font-weight: 600;

    padding-bottom: 0.5rem;

    border-bottom: 1px solid #b1b1b1;
}

.fa-users {
    margin-right: 0.5rem;
}

.name {
    font-size: 1.1rem;
    font-weight: 500;

    margin-bottom: 0.1rem;
}

.email {
    font-size: 0.8rem;
    font-style: italic;
}

.btn {
    width: 12rem;
    height: 2.5rem;

    margin-right: 1rem;

    border: none;
    border-radius: 1rem;

    font-weight: 500;
    letter-spacing: 0.1rem;
    
    color: #fff;
    background: #0cd9d9;
}

